<a href="https://colab.research.google.com/github/lionelsu/XPE_Python/blob/main/Desafio_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [321]:
import numpy as np
import pandas as pd
df = pd.read_csv('https://pycourse.s3.amazonaws.com/Salary.csv')
df.shape

(35, 2)

In [322]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [323]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  35 non-null     float64
 1   Salary           35 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 688.0 bytes

In [324]:
df.describe()

       YearsExperience         Salary
count        35.000000      35.000000
mean          6.308571   83945.600000
std           3.618610   32162.673003
min           1.100000   37731.000000
25%           3.450000   57019.000000
50%           5.300000   81363.000000
75%           9.250000  113223.500000
max          13.500000  139465.000000

In [325]:
df['YearsExperience'].describe()

count    35.000000
mean      6.308571
std       3.618610
min       1.100000
25%       3.450000
50%       5.300000
75%       9.250000
max      13.500000
Name: YearsExperience, dtype: float64

In [326]:
df['Salary'].describe()[['mean']]
df['Salary'].mean()

83945.6

In [327]:
X_salary = df.iloc[:,:-1].values #anos de experiência
y_salary = df.iloc[:,1].values #salario

In [328]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_salary, y_salary)

LinearRegression()

In [329]:
print(regressor.intercept_, regressor.coef_)

28859.52619453144 [8731.94104706]

In [330]:
previsao = regressor.intercept_ + regressor.coef_ * 0
previsao

array([28859.52619453])

In [331]:
previsoes = regressor.predict(X_salary)
previsoes

array([ 38464.6613463 ,  40211.04955571,  41957.43776513,  46323.40828866,
        48069.79649807,  54182.15523101,  55055.34933572,  56801.73754513,
        56801.73754513,  61167.70806866,  62914.09627808,  63787.29038278,
        63787.29038278,  64660.48448749,  68153.26090631,  71646.03732514,
        73392.42553455,  75138.81374396,  80377.9783722 ,  81251.17247691,
        88236.72531456,  90856.30762868,  97841.86046633, 100461.44278044,
       104827.41330398, 107446.99561809, 111812.96614163, 112686.16024633,
       118798.51897928, 120544.90718869, 126657.26592163, 129276.84823575,
       136262.4010734 , 141501.56570164, 146740.73032988])

In [332]:
regressor.score(X_salary, y_salary)

0.9651633106751443

In [340]:
novo_modelo = LinearRegression().fit(X_salary, y_salary.reshape((-1, 1)))
print(novo_modelo.intercept_, novo_modelo.coef_)

[28859.52619453] [[8731.94104706]]

In [374]:
razao = df['Salary']/df['YearsExperience']

In [382]:
razao.describe()

count       35.000000
mean     15770.651334
std       6035.927914
min      10330.740741
25%      12097.573838
50%      13864.897959
75%      16611.903045
max      35766.363636
dtype: float64

In [386]:
novo_df = df

In [388]:
novo_df['Razao'] = razao

In [400]:
novo_df.describe()

       YearsExperience         Salary         Razao
count        35.000000      35.000000     35.000000
mean          6.308571   83945.600000  15770.651334
std           3.618610   32162.673003   6035.927914
min           1.100000   37731.000000  10330.740741
25%           3.450000   57019.000000  12097.573838
50%           5.300000   81363.000000  13864.897959
75%           9.250000  113223.500000  16611.903045
max          13.500000  139465.000000  35766.363636

In [401]:
teste = novo_df.groupby(['Razao']).min().sort_values(by='YearsExperience',
                            ascending=False)

In [404]:
teste

              YearsExperience  Salary
Razao
10330.740741             13.5  139465
10517.441860             12.9  135675
10468.699187             12.3  128765
11022.260870             11.5  126756
11370.089286             11.2  127345
11606.857143             10.5  121872
11882.621359             10.3  122391
11732.812500              9.6  112635
12312.526316              9.5  116969
11731.333333              9.0  105582
12578.275862              8.7  109431
13879.512195              8.2  113812
12823.037975              7.9  101302
13841.267606              7.1   98273
13490.882353              6.8   91738
15656.666667              6.0   93940
13790.338983              5.9   81363
15676.981132              5.3   83088
12946.862745              5.1   66029
13864.897959              4.9   67938
13580.222222              4.5   61111
13922.195122              4.1   57081
13948.500000              4.0   55794
14239.250000              4.0   56957
16209.743590              3.9   63218
15456.486486              3.7   57189
17014.062500              3.2   54445
20139.062500              3.2   64445
20050.000000              3.0   60150
19531.724138              2.9   56642
18132.272727              2.2   39891
21762.500000              2.0   43525
25154.000000              1.5   37731
35542.307692              1.3   46205
35766.363636              1.1   39343

In [22]:
import requests
import json
url = 'https://as5jmctylk.execute-api.us-east-1.amazonaws.com/default/demo_forecast'

In [207]:
data = {'jonas': 0,
        'maria': 5.9,
        'miguel': 9.3,
        'jao': 13.5,
        'mari': 1.1
        }
type(data)
request = requests.post(url, data=json.dumps(data))
response = request.json()
type(response)

dict

In [405]:
response

{'jonas': 28859.53,
 'maria': 80377.98,
 'miguel': 110066.58,
 'jao': 146740.73,
 'mari': 38464.66}